@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900&subset=cyrillic");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=cyrillic');


body {
    margin: 0px;
    padding: 15px;
    background-color: #00c4ff;
    background-image: url("../img/background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.body_content {
}

h1 {
    color: darkblue;
    font-family: "Montserrat", sans-serif;
}

p {
    color: darkblue;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: darkblue;
}

.header {
    display: flex;
    min-height: 100vh;
    padding: 8px 50px;
}

.header_title {
    font-size: 36pt;
    text-transform: uppercase;
    color: darkblue;
}

.header_links {
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 50%);
    color: darkblue;
}

.header_links a {
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: darkblue;
    text-decoration: None;
}

.post_form {
    display: flex-block;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: darkblue;
    margin: 20px auto;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 50%);
}

.form_ {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
}

.profile {
    display: flex-block;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: darkblue;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 50%);
}

.profile_img {
    margin: 20px;
    padding: 15px;
    display: inline-block;
    float: left;
}

.profile_info {
    margin: 20px;
    padding: 15px;
    display: inline-block;
}

.profile_actions {
    displeay: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: darkblue;
}

.missions_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    width: 1000px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: darkblue;
}

.missions_task {
    margin: 20px auto;
    padding: 20px;
    width: 1000px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: darkblue;
}

.notification {
    margin: 20px auto;
    padding: 20px;
    width: 600;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 50%);
    color: darkblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px
}

.notification h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.notification a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}