{% extends "index.html" %}

{% block head %}
    <title>{{ title }}</title>
    <meta charset="utf-8">

{% endblock %}

{% block content %}

<p align="right" class="header_links">
    {% if backlink %}
    <a href="{{ url_for(backlink) }}">Back</a>
    {% endif %}

    {% if toplinks %}
        {% for link in toplinks %}
        {{ toplinks[link][0] }}
        <a href="{{ url_for(link) }}">{{ toplinks[link][1] }}</a>
        {% endfor %}
        {% endif %}

    <a href="{{ url_for('home') }}">Home</a>
</p>


<div class="post_form">

    <h3 align="center">{{ desc_h3 }}</h3>
{% for string in desc_h3p %}
    <p align="center">{{ string }}</p>
{% endfor %}
{% if top_message %}
    <p align="center">{{ top_message }}</p>
{% endif %}
<div class="form_" align="center">
<form action="" method="post">
    <table width="460px">
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" and field.name != "submit" %}
        <tr>
            <td>{{ field.label() }}</td>
            <td>{{ field }}</td>
            {% for error in field.errors %}
            <td>{{ error }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <p>{{ form.submit() }}</p>

</form>
</div>
{% if bot_message %}
<p>{{ bot_message }}</p>
{% endif %}


{% if botlinks %}
<p align="center">
{% for link in botlinks %}
{{ botlinks[link][0] }}
<a href="{{ url_for(link) }}">{{ botlinks[link][1] }}</a>
{% endfor %}
</p>
{% endif %}
</div>

{% endblock %}