{% extends "base.html" %}

{% block head %}
    <title>{{ title }}</title>
    <meta charset="utf-8">

{% endblock %}

{% block content %}
<p align="right">
{% if backlink %}
<a href="{{ url_for(backlink) }}">Back</a>
{% endif %}
<a href="{{ url_for('home') }}">Home</a>
</p>

{% if toplinks %}
<p align="right">
  {% for link in toplinks %}
    {{ toplinks[link][0] }}
  <a href="{{ url_for(link) }}">{{ toplinks[link][1] }}</a>
  {% endfor %}
</p>
{% endif %}

<h3 align="center">{{ desc_h3 }}</h3>
{% for string in desc_h3p %}
<p align="center">{{ string }}</p>
{% endfor %}
{% if top_message %}
<p align="center">{{ top_message }}</p>
{% endif %}

<form action="" method="post">

    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" and field.name != "submit" %}
        <p align="center">{{ field.label() }}</p>

        <p align="center">
            {{ field }}
            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
    {% endfor %}

    <p align="center">{{ form.submit() }}</p>

</form>

{% if bot_message %}
<p align="center">{{ bot_message }}</p>
{% endif %}

{% if botlinks %}
<p align="center">
{% for link in botlinks %}
{{ botlinks[link][0] }}
<a rel="stylesheet" href="{{ url_for(link) }}">{{ botlinks[link][1] }}</a>
{% endfor %}
</p>
{% endif %}

{% endblock %}